<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- help : http://logback.qos.ch/manual/appenders.html -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{ISO8601} %-5level [%.36thread] %logger{36}: %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.coupang.springframework.data.requery" level="TRACE"/>
    <logger name="com.coupang.kotlinx.data.requery" level="DEBUG"/>

    <logger name="io.requery.sql.LoggingListener" level="WARN"/>
    <logger name="requery" level="WARN"/>

    <logger name="org.springframework.data" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>